<vector xmlns:android="http://schemas.android.com/apk/res/android"
    android:width="22dp"
    android:height="18dp"
    android:viewportWidth="22"
    android:viewportHeight="18">
  <path
      android:pathData="M1,1.5H21M1,9H21M1,16.5H9.75"
      android:strokeLineJoin="round"
      android:strokeWidth="2"
      android:fillColor="#00000000"
      android:strokeColor="#313140"
      android:strokeLineCap="round"/>
</vector>
